<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">ProAgil Eventos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" wfd-id="19">
      <span class="navbar-toggler-icon" wfd-id="16"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault" wfd-id="7">
      <ul class="navbar-nav mr-auto" wfd-id="9">
        <li class="nav-item active" wfd-id="14">
          <a class="nav-link" href="#">Eventos</a>
        </li>
        <li class="nav-item" wfd-id="13">
          <a class="nav-link" href="#">Palestrantes</a>
        </li>
        <li class="nav-item" wfd-id="12">
          <a class="nav-link" href="#">Contatos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
